body{
        width: 100%;
        height: 100vh;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        /*background: linear-gradient(45deg, #0a0a0a, #3a4452);*/
        background-color: lightyellow;
        font-size: 1.5rem;
    }
    .pagehead{
      display: block;
      text-align: center;
      border-top: 2px solid lightseagreen;
      background: linear-gradient(yellow, lightseagreen);
      padding: 0.2rem 0.2rem 0.2rem 0.2rem;
      float:center;
      margin: 0.5rem;
      font-size: 32px;
    }
    .eqn{
        width: 3rem;
    }
    .container{
        /*border: 1px solid #717377;*/
        padding: 1rem;
        border-radius: 1.2rem;
        background-color: whitesmoke;
        margin-left: 25%;
        margin-right: 25%;
        /*background: transparent;
        background: linear-gradient(45deg, #0a0a0a, #3a4452);*/
        box-shadow: 0px 3px 15px rgba(133, 115, 119, 0.5);
    }
    .container:hover{
        border-radius: 0.5rem;
        box-shadow: 0px 3px 15px rgba(133, 115, 119, 1.0);
    }
    .subbtn{
        height:auto;
        width:auto;
        background-color:#81cdc6;
        font-size: 1.5rem;
        border: 1px solid teal;
        margin: 0.5rem 0.2rem 0.2rem 0.2rem;
    }
    .subbtn:hover{
        background: linear-gradient(90deg, #81cdc6);
        color: white;
        box-shadow: 0px 3px 15px rgba(10, 11, 19, 0.5);
    }
    .subbtn2{
       background-color: none;
    }
    input{
        font-size: 20px;
    }
    .secont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }

  .section {
    flex-basis: calc(50% - 20px);
   
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .section {
      flex-basis: 100%;
      width: 100%;
    }
    .eqn{
        width: 30px;
    }
    .container{
      margin: 10px;
    }
    .mat3{
      font-size: 17px;
    }

  }
  ul{
    margin: 0;
  }
 
  .next{
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin-top: 0.5rem;
    align-content: center;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    width:8rem;
    float:right;
}
.next:hover {
  background-color: #ada;
  color: black;
}
.previous{
    display: block;
    float:left;
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin-top: 0.5rem;
    align-content: center;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    width:5rem;
}
.previous:hover {
  background-color: #ada;
  color: black;
}