    body{
        width: 100%;
        height: 100vh;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        /*background: linear-gradient(45deg, #0a0a0a, #3a4452);*/
        background-color: lightyellow;
        font-size: 1.5rem;
    }
    .pagehead{
      display: block;
      text-align: center;
      border-top: 2px solid lightseagreen;
      background: linear-gradient(yellow, lightseagreen);
      padding: 0.2rem 0.2rem 0.2rem 0.2rem;
      float:center;
      margin: 0.5rem;
      font-size: 35px;
    }
    .eqn{
        width: 3rem;
    }
    #mat3{
      font-size: 20px;
      
    }
    .container{
        /*border: 1px solid #717377;*/
        padding: 1rem;
        border-radius: 1.2rem;
        background-color: whitesmoke;
        margin-left: 15%;
        margin-right: 15%;
        /*background: transparent;
        background: linear-gradient(45deg, #0a0a0a, #3a4452);*/
        box-shadow: 0px 3px 15px rgba(133, 115, 119, 0.5);
    }
    .container:hover{
        border-radius: 0.5rem;
        box-shadow: 0px 3px 15px rgba(133, 115, 119, 1.0);
    }
    .subbtn1{
       height:auto;
        width:auto;
        background-color:#81cdc6;
        font-size: 1.1rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        border: 1px solid teal;
        margin: 0.5rem 0.2rem 0.2rem 0.2rem;
    }
   
    input{
        font-size: 20px;
    }
    .inp{
      font-size: 1.1rem;
       height:auto;
        width:auto;
        background-color:#81cdc6;
      
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        border: 1px solid teal;
        margin: 0.5rem 0.2rem 0.2rem 0.2rem;
    }
    .secont {
    display: flex;
    flex-wrap: wrap;
    margin: 0 63px;
  
  }
  #te1{
    margin: 0;
    padding-top: 10px;
  }
  #ty{
    margin-top: 9px;
  }

  .section {
    flex-basis: calc(50% - 20px);
   
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .section {
      flex-basis: 100%;
      width: 100%;
    }
  }
  ul{
    margin: 0;
  }
  .previous{
    display: block;
    float:left;
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin-top: 0.5rem;
    align-content: center;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    width:8rem;
}
.previous:hover {
  background-color: #ada;
  color: black;
}
.note{
  color: blue;
  font-size: 1rem;
  margin-left: 10px;
}  
 #mat3{
  background-color: yellow;
 }
